/* 自動で画面サイズを変更 */
*{
    margin:0;
    padding:0;
    background-color: #f4f5f7;
    -webkit-text-size-adjust: 100%;    
}

/* top_title(h1), input_form(p), username, password, button_form, login_button */
#top_container{
    height: 100vh;
    text-align: center;
}

h1{
    padding-top: 15vh;
    margin-bottom: 10vh;
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    display: inline-block;
}

.username{
    background-color: white;
}

.password{
    background-color: white;
}

.button_form{
    padding-top: 6vh;
}

.reset {
    color: black;
    text-decoration: none;
    font-weight: normal;
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: normal;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* iOSタップ時の挙動を調整 */
}

/*ボタンデザイン*/
.flat.border {
    position: relative;
    text-align: center;
    /* 中央揃え */
    display: block;
    margin: 0 auto;
    /* 幅の指定 */
    width: 100%;
    max-width: 150px;
    box-sizing: border-box;
    padding: 10px;
    /* 色の指定 */
    color: white;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
    border: 2px solid black;
    background: white;
    color: black;
}

/*マウスがボタン上にある時*/
.flat.border:hover {
    background: gray;
    color: white;
}

/*ボタンクリック時*/
.flat.border:active, .flat.border:focus {
    top: 2px;
}

/*700msでbodyが透明に*/
.fadeout{
    opacity: 0;
    transition: all 700ms;
}
/*700msでtop_containerのスケールが変化*/
.transform{
    -webkit-transform:scale(1.5);
    transform: scale(1.5);
    transition: all 700ms;
}